nav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    float:right;
}
h1{
	text-decoration: underline;
	color:red;
	text-align: center;
}
.box{

}
#Child h3{
	text-align: center;
	text-decoration: underline;

}
#elon{
	float:left;
	width:300px;
}
.rightbox{
	vertical-align: right;
	width:500px;
	float:right;
	height: 100px;
}
.box #ComFou{
	text-align: center;
	text-decoration: underline;
}
p{
	color:blue;
}
.leftbox{
	vertical-align: left;
	float:left;
	width:50px;
	height: 100px;
	margin: 0;
	padding:0;

}
.centerbox{
	position: absolue;
	display:block;
}
#Awards h3{
	text-align: center;
	text-decoration: underline;
}
#PopMedia h3{
	text-align: center;
	text-decoration: underline;
}

